$type-plant-color: rgb(121, 192, 121);
$type-fire-color: rgb(230, 80, 80);
$type-water-color: rgb(109, 176, 238);
$type-normal-color: rgb(129, 133, 129);
$type-rock-color: rgb(199, 169, 0);
$type-venom-color: rgb(255, 112, 243);
